<%%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "max-w-4xl mx-auto", data: { turbo: false } }) do |form| %>
  <div class="my-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail address:</label>
    <%%= form.email_field :email, class: 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light' %>
  </div>
  <div class="my-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
    <%%= form.password_field :password, class: 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light' %>
  </div>

  <%% if devise_mapping.rememberable? %>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <%%= form.check_box :remember_me, class: 'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800' %>
      </div>
      <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
    </div>
  <%% end %>
  
  <%%= form.submit "Log in", class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
<%% end %>

<%%= render "<%= resource_name %>/shared/links" %>
